/vendor/
/node_modules/
.phpunit.result.cache
/storage/*.key
/public/storage
/public/hot
/public/vendor
/public/mix-manifest.json

.DS_Store
Thumbs.db

# Composer y NPM/Yarn
composer.phar
composer.lock
npm-debug.log*
yarn-error.log*

/.idea/
/.vscode/
/_ide_helper.php
/_ide_helper_models.php

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
